# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

# Xcode build artifacts
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xcarchive

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
.swiftpm/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/
Carthage/Checkouts

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Code Injection
iOSInjectionProject/

# Profiling
*.trace

# IDE
.idea/
.vscode/
*.swp
*.swo
